{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Add User</title>
<div>
    <h2>Add User</h2>
    <form method="post" action="/add">
        <dl>
            <p>
            <input name="inputName" value="" type="text"
                        placeholder="Name" autocomplete="off" required>
            </p>
            <p>
            <input name="inputLogin" value="" type="text"
                        placeholder="Login" autocomplete="off" required>
            </p>
            <p>
            <input name="inputOnboarded" value="" type="date"
                        placeholder="Onboarded" autocomplete="off" required>
            </p>
            <input name="inputDepartment" value="" type="text"
                        placeholder="Department" autocomplete="off" required>
            </p>
        </dl>
        <p>
        <input type="submit" value="Submit">
        </p>
    </form>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}